exportPattern("^[[:alpha:]]+")
S3method(predict,flcmgl)
export(vsflcm)
export(tune.par.vsflcm)
import(dplyr)
importFrom(splines,bs)
importFrom(stats,predict)
importFrom(stats,quantile)
importFrom(stats,terms.formula)
